.answerText {
}

.answerTextSmall {
	font-size: 14px;
}

.answerBoxBorder {
	height: 100%;
	border: solid 2px #cacaca;
	border-radius: 4px;
}

.answerBoxBorder.correct {
	border: solid 2px #4caf50;
  background-color: #319735;
}

.answerBoxBorder.halfcorrect {
	border: solid 2px #eb9d15;
}
